<!DOCTYPE html><html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sanakirja</title>
  <link rel="stylesheet" href="/static/template.css" type="text/css">
</head>
<body id="senseBody">
<div id="paper">
<!--<h4 style="text-align: right;">Haku: (form)</h4>-->
<h2>Merkitys: {{ sense['sense_text'] }}</h2>
<h3>Kuvaus: {{ sense['description'] }}</h3>
<h3 id="ylamerk">Yl&auml;merkitykset</h3>
<!-- sivutus -->
{% if parent_page_total > 1 %}
<div class="pagination">
  <p  style="display:inline">Sivu {{ parent_page }}</p>
  <a href={{ sense_path + str(sense['identifier']) + '?parent_page=' + str(max(1, parent_page - 1))  + '&sense_page=' + str(sense_page) + '&term_page='+ str(term_page) + "#ylamerk" }}>&laquo;</a>
  <a href={{ sense_path + str(sense['identifier']) + '?parent_page=' + str(1) + '&sense_page=' + str(sense_page) + '&term_page='+ str(term_page) + "#ylamerk" }}>1</a>

  {% set counter = max(2 , parent_page - 2) %}
  {% while counter < min(parent_page_total, parent_page + 3) %}
	 <a href={{ sense_path + str(sense['identifier']) + '?parent_page=' + str(counter) + '&sense_page=' + str(sense_page) + '&term_page='+ str(term_page) + "#ylamerk" }}>{{ str(counter) }}</a>
     {% set counter = counter + 1 %}
  {% end %}
	 <a href={{ sense_path + str(sense['identifier']) + '?parent_page=' + str(parent_page_total) + '&sense_page=' + str(sense_page) + '&term_page='+ str(term_page) + "#ylamerk" }}>{{ str(parent_page_total) }}</a>
  <a href={{ sense_path + str(sense['identifier']) + '?parent_page=' + str(min(parent_page_total, parent_page + 1))  + '&sense_page=' + str(sense_page) + '&term_page='+ str(term_page) + "#ylamerk" }}>&raquo;</a>
 </div>
{% end %}
<ol>
  <!-- lista ylämerkityksistä -->
  {% for parent in parents %}
      <li><div><a href={{ sense_path + str(parent['identifier']) }}>{{ parent['sense_text'] }}</a></div></li>
  {% end %}
</ol>
<h3 id="merk">Alamerkitykset</h3>
<!-- sivutus -->
{% if sense_page_total > 1 %}
<div class="pagination">
  <p  style="display:inline">Sivu {{ sense_page }}</p>
  <a href={{ sense_path + str(sense['identifier']) + '?sense_page=' + str(max(1, sense_page - 1))  + '&parent_page='+ str(parent_page) + '&term_page='+ str(term_page) + "#merk" }}>&laquo;</a>
  <a href={{ sense_path + str(sense['identifier']) + '?sense_page=' + str(1) + '&parent_page=' + str(parent_page) + '&term_page='+ str(term_page) + "#merk" }}>1</a>
  {% set counter = max(2 , sense_page - 2) %}
  {% while counter < min(sense_page_total, sense_page + 3) %}
	 <a href={{ sense_path + str(sense['identifier']) + '?sense_page=' + str(counter) + '&parent_page=' + str(parent_page) + '&term_page='+ str(term_page) + "#merk" }}>{{ str(counter) }}</a>
     {% set counter = counter + 1 %}
  {% end %}
     <a href={{ sense_path + str(sense['identifier']) + '?sense_page=' + str(sense_page_total) + '&parent_page=' + str(parent_page) + '&term_page='+ str(term_page) + "#merk" }}>{{ str(sense_page_total) }}</a>
  <a href={{ sense_path + str(sense['identifier']) + '?sense_page=' + str(min(sense_page_total, sense_page + 1))  + '&parent_page=' + str(parent_page) + '&term_page='+ str(term_page) + "#merk" }}>&raquo;</a>
 </div>
{% end %}
<ol>
<!-- lista alamerkityksistä -->
{% for sense_1 in senses %}
  <li>
    <div{% if sense_1['children'] %} class="accordion" {% end %}>
    <a href={{ sense_path + str(sense_1['identifier']) }}>{{ sense_1['sense_text'] }}
    </a></div>
  </li>
{% end %}
</ol>
<h3 id="termmerk">Termit</h3>
<!-- sivutus -->
{% if term_page_total > 1 %}
<div class="pagination">
  <p  style="display:inline">Sivu {{ term_page }}</p>
  <a href={{ sense_path + str(sense['identifier']) + '?term_page=' + str(max(1, term_page - 1))  + '&parent_page='+ str(parent_page) + '&sense_page='+ str(sense_page) + "#termmerk" }}>&laquo;</a>
  <a href={{ sense_path + str(sense['identifier']) + '?term_page=' + str(1) + '&parent_page=' + str(parent_page) + '&sense_page='+ str(sense_page) + "#termmerk" }}>1</a>

  {% set counter = max(2 , term_page - 2) %}
  {% while counter < min(term_page_total, term_page + 3) %}
	 <a href={{ sense_path + str(sense['identifier']) + '?term_page=' + str(counter) + '&parent_page=' + str(parent_page) + '&sense_page='+ str(sense_page) + "#termmerk" }}>{{ str(counter) }}</a>
     {% set counter = counter + 1 %}
  {% end %}
     <a href={{ sense_path + str(sense['identifier']) + '?term_page=' + str(term_page_total) + '&parent_page=' + str(parent_page) + '&sense_page='+ str(sense_page) + "#termmerk" }}>{{ str(term_page_total) }}</a>
  <a href={{ sense_path + str(sense['identifier']) + '?term_page=' + str(min(term_page_total, term_page + 1))  + '&parent_page=' + str(parent_page) + '&sense_page='+ str(sense_page) + "#termmerk" }}>&raquo;</a>
 </div>
{% end %}
<ol>
  <!-- lista merkitykseen liittyvistä termeistä -->
  {% for term in terms %}
      <li><a href={{ term_path + str(term['identifier']) }}>{{ term['term_text'] }}</a></li>
  {% end %}
</ol>
</div>
<script>
  document.getElementById("paper").innerHTML = insertItalics(document.getElementById("paper").innerHTML);

  function insertItalics(elem_text){
    while(elem_text.includes("$")){
      elem_text = elem_text.replace("$", "<i>");
      elem_text = elem_text.replace("$", "</i>");
    }
    return elem_text;
  }
</script>
</body></html>
