body{
    background-color: #C19A6B;
}
#termBody{
    background-color: #4A306D;
}
#senseBody{
    background-color: #C19AB7;
}
#paper{
    background-color: #F8ECC2;
    margin: 2% auto;
    max-width: 80%;
    line-height: 1.6;
    font-size: 1.2em;
    color: #444;
    padding: 1em 2em;
    box-shadow: 0.5em 0.5em 0.4em rgba(0,0,0,0.25);
}
h1,h2,h3{
    line-height: 1.2em;
}
li{
    list-style-type: none;
    margin: 0.5em auto;
}
ol{
    padding-left: 1em
}
div{
    padding-left: 1.5em
}
a{
    color: #444;
    padding: 0.25em 0.5em 0.25em 0.5em;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.active{
    background-color: #fff;
}
.accordion{
    padding-left: 0em
}
.accordion:after{
    content: '\002B';
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.accordion:hover{
    background-color: #fff;
}
.active:after{
    content: "\2212";
}
.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
}
